In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('mtcars.csv')
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
 # 문제 1
 # mpg 변수의 제 1사분위수를 구하고 반올림하여 정수값으로 출력하시오.
df = pd.read_csv("mtcars.csv")
Q1 = df['mpg'].quantile(0.25)
print(int(Q1))

15

In [4]:
# 문제 2
 # mpg 값이 19이상 21이하인 데이터의 수를 구하시오.
df = pd.read_csv("mtcars.csv")
cond1 = (df['mpg']>=19)
cond2 = (df['mpg']<=21)
print(len(df[cond1&cond2]))

5

In [5]:
 # 문제 3
 # hp 변수의 IQR 값을 구하시오.
df = pd.read_csv("mtcars.csv")
Q1 = df['hp'].quantile(0.25)
Q3 = df['hp'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

83.5

In [12]:
# 문제 4
 # wt 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오. 
df = pd.read_csv("mtcars.csv")
df1 = df.copy()
df1 = df1.sort_values('wt', ascending=False).head(10)
print(int(df1['wt'].sum())) # 주의 : 소수점 반올림이 아니라 버리는 문제

42

In [15]:
# 문제 5
 # 전체 자동차에서 cyl가 6인 비율이 얼마인지 반올림하여 소수점 첫째자리까지 출력하시오.
df = pd.read_csv("mtcars.csv")
cyl_6 = (df['cyl']==6)
print(round(len(df[cyl_6]) / len(df), 1))

0.2

In [16]:
df['cyl'].value_counts()

cyl
8    14
4    11
6     7
Name: count, dtype: int64

In [18]:
# 문제 6
 # 첫번째 행부터 순서대로 10개 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력하시오. 
df = pd.read_csv("mtcars.csv")
df = df.head(10)
print(round(df['mpg'].mean()))

20

In [21]:
 # 문제 7
 # 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.
df = pd.read_csv("mtcars.csv")
#print(len(df)/2)
df = df.head(16)
median = df['wt'].median()
print(median)

3.44

In [23]:
 #	문제	8	
#	결측값이	있는	데이터의	수를	출력하시오.	
#	데이터	생성(수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })
print(sum(df.isnull().sum()))

5

In [26]:
#	문제	9
 #	'판매수'	컬럼의	결측값을	판매수의	중앙값으로	대체하고	
#		판매수의	평균값을	반올림하여	정수로	출력하시오.	
#	데이터	생성(수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['판매수'] = df['판매수'].fillna(df['판매수'].median())
print(round(df['판매수'].mean()))

15

In [41]:
#	문제	10
 #	판매수	컬럼에	결측치가	있는	행을	제거하고,
 #	첫번째	행부터	순서대로	50%까지의	데이터를	추출하여
#	판매수	변수의	Q1(제1사분위수)값을	반올림하여	정수로	출력하시오.	
#	데이터	(수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })
df = df['판매수'].dropna()
middle = int(len(df)*0.5)
df = df[:middle]
Q1 = df.quantile(0.25)
print(round(Q1))

5

In [43]:
 # 문제 11
 # cyl가 4인 자동차와 6인 자동차 그룹의 mpg 평균값 차이를 절대값으로 반올림하여 정수로 출력
df = pd.read_csv("mtcars.csv")
cyl_4 = (df['cyl']==4)
cyl_6 = (df['cyl']==6)
df_4 = df[cyl_4]
df_6 = df[cyl_6]
mean_4 = df_4['mpg'].mean()
mean_6 = df_6['mpg'].mean()
print(round(abs(mean_4 - mean_6)))

7

In [45]:
 # 문제 12
 # hp 변수에 대해 데이터표준화(Z-score)를 진행하고 이상치의 수를 구하시오.
 # (단, 이상치는 Z값이 1.5를 초과하거나 -1.5 미만인 값이다)
df = pd.read_csv("mtcars.csv")
mean = df['hp'].mean()
std = df['hp'].std()
df['hp'] = (df['hp']-mean)/std
upper = (df['hp']>1.5)
lower = (df['hp']<-1.5)
print(len(df[upper|lower]))

2

In [48]:
# 문제 13
 # mpg 컬럼을 최소최대 Scaling을 진행한 후 0.7보다 큰 값을 가지는 레코드 수를 구하라.
df = pd.read_csv("mtcars.csv")
max = df['mpg'].max()
min = df['mpg'].min()
df['mpg'] = (df['mpg']-min)/(max-min)
cond1 = (df['mpg']>0.7)
print(len(df[cond1]))

5

In [50]:
 # 문제 14
 # wt컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오. 
df = pd.read_csv("mtcars.csv")
Q1 = df['wt'].quantile(0.25)
Q3 = df['wt'].quantile(0.75)
IQR = Q3 - Q1
upper = (df['wt']> Q3 + 1.5*IQR)
lower = (df['wt']<Q1 - 1.5*IQR)
print(len(df[upper]) + len(df[lower]))

3

In [51]:
#	문제	15
 #	판매수	컬럼의	결측치를	최소값으로	대체하고
#	결측치가	있을	때와	최소값으로	대체했을	때	평균값의	차이를	절대값으로	반올림하여	정수로	출력하시오
#	데이터	생성	(수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })
isna = df['판매수'].mean()
df1 = df.copy()
df1['판매수'] = df1['판매수'].fillna(df1['판매수'].min())
notna = df1['판매수'].mean()

print(round(abs(isna-notna)))

2

In [62]:
# 문제 16
 # vs변수가 0이 아닌 차량 중에 mpg 값이 가장 큰 차량의 hp 값을 출력하시오.  
df = pd.read_csv("mtcars.csv")
cond1 = (df['vs']!=0)
df = df[cond1]
# df = df.sort_values('mpg', ascending=False).head(1)
# print(df['hp'])
df = df.sort_values('mpg', ascending=False)
print(df['hp'].iloc[0])

65

In [64]:
# 문제 17
 # gear 변수값이 3, 4인 두 그룹의 hp 표준편차값의 차이를 절대값으로
# 반올림하여 소수점 첫째자리까지 출력하시오. 
df = pd.read_csv("mtcars.csv")
gear_3 = (df['gear']==3)
gear_4 = (df['gear']==4)
df_3 = df[gear_3]
df_4 = df[gear_4]
std_3 = df_3['hp'].std()
std_4 = df_4['hp'].std()
print(round(abs(std_3 - std_4), 1))

21.8

In [81]:
 # 문제 18
 # gear 변수의 값별로 그룹화하여 mpg평균값을 산출하고 
# 평균값이 높은 그룹의 mpg 제3사분위수 값을 구하시오.
df = pd.read_csv("mtcars.csv")
df = df.loc[:, ['gear','mpg']]
print(df.groupby('gear').mean())
gear_4 = df[(df['gear']==4)]
Q3 = gear_4['mpg'].quantile(0.75)
print(Q3)

            mpg
gear
3     16.106667
4     24.533333
5     21.380000
28.075

In [93]:
 # 문제 19
 # hp 항목의 상위 7번째 값으로 상위 7개 값을 변환한 후,
 # hp가 150 이상인 데이터를 추출하여 hp의 평균값을 반올림하여 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")
df = df.sort_values('hp', ascending=False)
top_7 = df['hp'].iloc[6]
df['hp'] = np.where(df['hp']>=top_7, top_7, df['hp'])
cond1 = df[ (df['hp']>=150) ]
print(round(cond1['hp'].mean()))

187

In [96]:
 # 문제 20
 # car변수에 Merc 문구가 포함된 자동차의 mpg 평균값을 반올림하여 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")
df_merc = df[ df['car'].str.contains('Merc') ]
print(round(df_merc['mpg'].mean()))

19

In [107]:
 #	문제	21
 #	'22년	1분기	매출액을	구하시오
#	(매출액	=	판매수*개당수익)
import pandas as pd
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['매출액'] = df['판매수']*df['개당수익']
df['날짜'] = pd.to_datetime(df['날짜'])
df = df[df['날짜'].between('2022-01-01', '2022-03-31')]
print(df['매출액'].sum())

11900

In [113]:
 #	문제	22
 #	'22년과	'23년의	총	매출액	차이를	절대값으로	구하시오.	
#	(매출액	=	판매수*개당수익)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })
df['매출액'] = df['판매수']*df['개당수익']
df['날짜'] = pd.to_datetime(df['날짜'])
df['year'] = df['날짜'].dt.year
df_2022 = df[df['year']==2022]
df_2023 = df[df['year']==2023]
sum_2022 = df_2022['매출액'].sum()
sum_2023 = df_2023['매출액'].sum()
print(abs(sum_2022 - sum_2023))

48600

In [126]:
 #	문제	23
 #	'23년	총	매출액이	큰	제품의	23년	판매수를	구하시오.
 #	(매출액	=	판매수*개당수익)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })
df['매출액'] = df['판매수']*df['개당수익']

df = df[df['날짜'].str.contains('2023')]
df = df.loc[:, ['제품', '판매수','매출액']]
df.reset_index(drop=True, inplace=True)
# df.groupby('제품').sum() 제품 A의 판매수 구하기
df_A = df[df['제품']=='A']
print(df_A['판매수'].sum())

80

In [128]:
#	문제	24
 #	매출액이	4천원	초과,	1만원	미만인	데이터	수를	출력하시오.	
#	(매출액	=	판매수*개당수익)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })
df['매출액'] = df['판매수']*df['개당수익']
cond1 = (df['매출액']>4000)
cond2 = (df['매출액']<10000)
print(len(df[cond1&cond2]))

4

In [133]:
 # 문제 25
 # 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오. 
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40], 
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]
df = df[df['time'].between('2023-09-24 16:00:00', '2023-09-24 22:00:00')]
print(df['판매수'].sum())

25

In [138]:
# 다른 풀이
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40], 
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]
df.set_index('time', drop=True, inplace=True)
df = df.loc[(df.index>='2023-09-24 16:00:00')&(df.index<='2023-09-24 22:00:00')]
print(df['판매수'].sum())

25

In [142]:
# 문제 26
# 9월 25일 00:00~12:00 까지의 B물품의 매출액 총합을 구하시오.
# (매출액 = 판매수*개당수익)
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40], 
    '개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods=7)

df['매출액'] = df['판매수']*df['개당수익']

df = df[ ['time','물품','판매수','개당수익','매출액'] ]
df.set_index('time', drop=True, inplace=True)
df = df[(df.index>='2023-09-25 00:00:00')&(df.index<='2023-09-25 12:00:00')]
df_B = df[df['물품']=='B']
print(df_B['매출액'].sum())

26500

In [148]:
# 문제 27
# 9월 24일 12:00~24:00 까지의 A물품의 매출액 총합을 구하시오.
# (매출액 = 판매수*개당수익)
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40], 
    '개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods=7)
df = df[ ['time','물품','판매수','개당수익'] ]
df = df.set_index('time', drop=True)
df.reset_index(inplace=True)
df['매출액'] = df['판매수']*df['개당수익']
df = df[df['time'].between('2023-09-24 12:00:00','2023-09-25 00:00:00')]
df_A = df[df['물품']=='A']
print(df_A['매출액'].sum())

10000

In [154]:
# 다른 풀이
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40], 
    '개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods=7)
df = df[ ['time','물품','판매수','개당수익'] ]
df = df.set_index('time', drop=True)
df['매출액'] = df['판매수']*df['개당수익']
df = df[(df.index>='2023-09-24 12:00:00')&(df.index<='2023-09-25 00:00:00')]
df_A = df[df['물품']=='A']
print(df_A['매출액'].sum())

10000

In [155]:
# 참고
# 만약 날짜와 상관없이 특정 시간대를 필터링 해야할 때
# df.between_time(start_time='00:00:00', end_time='00:00:00')

In [156]:
# 체험형 페이지 제공 문제
# 제공된 데이터의 qsec 칼럼을 최소-최대 척도로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 입력
# 정수 형태, 정수 답안, 소수점 포함한 경우 소수점 첫째 자리에서 반올림하여 계산

# 출력을 원할 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

import pandas as pd

df = pd.read_csv("mtcars.csv")

# 사용자 코딩
max = df['qsec'].max()
min = df['qsec'].min()
df['qsec'] = (df['qsec']-min)/(max-min)
cond1 = (df['qsec']>0.5)
print(len(df[cond1]))


# 해당 화면에서는 제출하지 않으며, 문제 풀이 후 답안제출에서 결괏값 제출

9

In [166]:
 #	예제문제	풀이
#	다음은	학생	10명의	과목별	점수	데이터이다.	
#	점수	데이터의	결측치를	제거한	후,	학생들이	가장	많이	듣는	과목의	점수를
#	표준화	한	후	Z-score의	최대값을	반올림하여	소수점	둘째	자리까지	구하시오.
 #	데이터	생성	(수정금지)
import	pandas	as	pd
import	numpy	as	np
df	=	pd.DataFrame(	{
				'과목':	['국어','국어',	'수학','수학','영어',	'영어','영어','영어','영어','영어'],
				'점수'	:	[72,	75,	80,	72,	65,	72,	80,	75,	92,	None]})
df = df.dropna()
# df['과목'].value_counts() # 영어
df = df[df['과목']=='영어']
mean = df['점수'].mean()
std = df['점수'].std()
df['점수'] = (df['점수'] - mean)/std
max = df['점수'].max()
print(round(max, 2))

1.51

In [175]:
# 예제문제 풀이
# mtcars 데이터셋에서 mpg와 상관관계가 가장 큰 변수를 선정하고
# 그 변수의 평균값을 반올림하여 정수로 출력하시오.
 #	데이터	생성	(수정금지)
import	pandas	as	pd
import	numpy	as	np
df	=	pd.read_csv("mtcars.csv")
df	=	df[	['mpg','disp','hp',	'wt','qsec']]
corr = df.corr()
# corr = abs(corr)
# corr.sort_values('mpg', ascending=False) # wt
print(round(df['wt'].mean()))

3

In [177]:
from scipy.stats import pearsonr

r, pvalue = pearsonr(df['mpg'], df['wt'])
print(r, pvalue)

-0.8676593765172278 1.293958701350513e-10

In [178]:
# 핵심문제 14번
# wt 컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오.
df = pd.read_csv('mtcars.csv')
Q1 = df['wt'].quantile(0.25)
Q3 = df['wt'].quantile(0.75)
IQR = Q3 - Q1
upper = (df['wt'] > Q3 + 1.5*IQR)
lower = (df['wt'] < Q1 - 1.5*IQR)
print(len(df[upper]) + len(df[lower]))

3