In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

df = sns.load_dataset('tips')
x = df.drop(['tip'], axis=1)
y = df['tip']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=2023)
x_test = pd.DataFrame(x_test.reset_index())
x_train = pd.DataFrame(x_train.reset_index())
y_train = pd.DataFrame(y_train.reset_index())

x_test.rename(columns={'index':'cust_id'}, inplace=True)
x_train.rename(columns={'index':'cust_id'}, inplace=True)
y_train.columns = ['cust_id','target']

## 레스토랑의 tip 예측 문제
- 데이터의 결측치, 이상치, 변수에 대해 처리하고
- 회귀모델을 사용하여 Rsq, MSE 값을 산출하시오.

In [3]:
#1. 라이브러리 및 데이터 확인
print(x_train.head(3))
print(x_test.head(3))
print(y_train.head(3))

   cust_id  total_bill     sex smoker  day    time  size
0      158       13.39  Female     No  Sun  Dinner     2
1      186       20.90  Female    Yes  Sun  Dinner     3
2       21       20.29  Female     No  Sat  Dinner     2
   cust_id  total_bill     sex smoker  day    time  size
0      154       19.77    Male     No  Sun  Dinner     4
1        4       24.59  Female     No  Sun  Dinner     4
2       30        9.55    Male     No  Sat  Dinner     2
   cust_id  target
0      158    2.61
1      186    3.50
2       21    2.75

In [4]:
print(x_train.info())
print(x_test.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cust_id     195 non-null    int64
 1   total_bill  195 non-null    float64
 2   sex         195 non-null    category
 3   smoker      195 non-null    category
 4   day         195 non-null    category
 5   time        195 non-null    category
 6   size        195 non-null    int64
dtypes: category(4), float64(1), int64(2)
memory usage: 6.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cust_id     49 non-null     int64
 1   total_bill  49 non-null     float64
 2   sex         49 non-null     category
 3   smoker      49 non-null     category
 4   day         49 non-null     category
 5   time        49 non-null     category
 6   size        49 non-null     int64
dtypes: category(4), float64(1), int64(2)
memory usage: 2.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  195 non-null    int64
 1   target   195 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 3.2 KB
None

In [6]:
# EDA

In [5]:
#sex smoker  day    time

In [7]:
print(x_train.describe().T)
print(x_test.describe().T)
print(y_train.describe().T)

            count        mean        std   min    25%     50%      75%     max
cust_id     195.0  122.056410  70.668034  0.00  59.50  121.00  182.500  243.00
total_bill  195.0   20.054667   8.961645  3.07  13.42   17.92   24.395   50.81
size        195.0    2.543590   0.942631  1.00   2.00    2.00    3.000    6.00
            count        mean        std   min    25%     50%     75%    max
cust_id      49.0  119.285714  70.918674  2.00  62.00  123.00  180.00  239.0
total_bill   49.0   18.716531   8.669864  5.75  12.74   16.66   21.01   44.3
size         49.0    2.673469   0.987162  2.00   2.00    2.00    3.00    6.0
         count        mean        std  min   25%     50%     75%    max
cust_id  195.0  122.056410  70.668034  0.0  59.5  121.00  182.50  243.0
target   195.0    3.021692   1.402690  1.0   2.0    2.92    3.53   10.0

In [8]:
print(x_train.describe(include='category').T)
print(x_test.describe(include='category').T)

       count unique     top freq
sex      195      2    Male  125
smoker   195      2      No  120
day      195      4     Sat   71
time     195      2  Dinner  142
       count unique     top freq
sex       49      2    Male   32
smoker    49      2      No   31
day       49      4     Sat   16
time      49      2  Dinner   34

In [9]:
print(x_train.isnull().sum())
print(x_test.isnull().sum())
print(y_train.isnull().sum())

cust_id       0
total_bill    0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64
cust_id       0
total_bill    0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64
cust_id    0
target     0
dtype: int64

In [10]:
# 데이터 전처리 및 분리

In [11]:
cust_id = x_test['cust_id'].copy()
x_train = x_train.drop(columns=['cust_id'])
x_test = x_test.drop(columns=['cust_id'])
print(x_train.head(3))
print(x_test.head(3))

   total_bill     sex smoker  day    time  size
0       13.39  Female     No  Sun  Dinner     2
1       20.90  Female    Yes  Sun  Dinner     3
2       20.29  Female     No  Sat  Dinner     2
   total_bill     sex smoker  day    time  size
0       19.77    Male     No  Sun  Dinner     4
1       24.59  Female     No  Sun  Dinner     4
2        9.55    Male     No  Sat  Dinner     2

In [16]:
# 변수처리
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)
print(x_train.info())
print(x_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   total_bill   195 non-null    float64
 1   size         195 non-null    int64
 2   sex_Male     195 non-null    bool
 3   sex_Female   195 non-null    bool
 4   smoker_Yes   195 non-null    bool
 5   smoker_No    195 non-null    bool
 6   day_Thur     195 non-null    bool
 7   day_Fri      195 non-null    bool
 8   day_Sat      195 non-null    bool
 9   day_Sun      195 non-null    bool
 10  time_Lunch   195 non-null    bool
 11  time_Dinner  195 non-null    bool
dtypes: bool(10), float64(1), int64(1)
memory usage: 5.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   total_bill   49 non-null     float64
 1   size         49 non-null     int64
 2   sex_Male     49 non-null     bool
 3   sex_Female   49 non-null     bool
 4   smoker_Yes   49 non-null     bool
 5   smoker_No    49 non-null     bool
 6   day_Thur     49 non-null     bool
 7   day_Fri      49 non-null     bool
 8   day_Sat      49 non-null     bool
 9   day_Sun      49 non-null     bool
 10  time_Lunch   49 non-null     bool
 11  time_Dinner  49 non-null     bool
dtypes: bool(10), float64(1), int64(1)
memory usage: 1.4 KB
None

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(x_train,
                                                  y_train['target'],
                                                  test_size=0.2,
                                                  random_state=2023)
print(x_train.shape)
print(x_val.shape)
print(y_train.shape)
print(y_val.shape)

(156, 12)
(39, 12)
(156,)
(39,)

In [19]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state=2023)

model.fit(x_train, y_train)
y_pred = model.predict(x_val)

In [20]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_val, y_pred)
r2 = r2_score(y_val, y_pred)

print(mse)
print(r2)

1.0860209841025643
0.6214234662421672

In [21]:
y_result = model.predict(x_test)
print(y_result[:5])

[3.1114 2.8938 1.7715 1.6389 3.1873]

In [22]:
pd.DataFrame({'cust_id':cust_id, 'result':y_result}).to_csv('tips_practive.csv',index=False)